{{#if errorMessage}}
  <p class="error">{{errorMessage}}</p>
{{/if}}

<form action="/login" method="POST" class="form-card">
  <h3>LOGIN</h3>
  <div class="form-content">
    <div class="input-field">
      <input type="email" name="email" placeholder="E-Mail" required />
    </div>
    <div class="input-field">
      <input type="password" name="password" placeholder="Password" required />
    </div>
    <a href="/signup">Not registered yet?</a>
  </div>

  <div class="action">
    <button type="submit" class="btn-green">Login</button>
    <button class="btn-grey"><a href="/signup">Signup</a></button>
  </div>
</form>