{{#if errorMessage}}
  <p class="error">{{errorMessage}}</p>
{{/if}}

<form action="/signup" method="POST" class="form-card">
  <h3>Create an account</h3>
  <div class="form-content">
    <div class="input-field">
      <input type="text" name="name" placeholder="username" required />
    </div>
    <div class="input-field">
      <input type="email" name="email" placeholder="E-Mail" required />
    </div>
    <div class="input-field">
      <input type="password" name="password" placeholder="Password" required />
    </div>
    <a href="/signup">Already have an account?</a>
  </div>

  <div class="action">
    <button type="submit" class="btn-green">Register</button>
    <button class="btn-grey"><a href="/login">Login</a></button>
  </div>
</form>