<div class="error">

  <h1>Error!</h1>
  <h2>OOPS I don't think you can do that if you're not the creator!</h2>
  <img
    src="https://hips.hearstapps.com/digitalspyuk.cdnds.net/18/34/1534963061-sheldon.gif?crop=1xw:0.8960573476702509xh;center,top&resize=640:*"
  />
</div>