<section>
  <h1>Our spots!</h1>

  <div>
{{#each spotsFromDb}}

{{> spotsPartial this}}

<a href="/spots/{{this._id}}">More details</a> 
{{/each}}
</div>

<a href="/spots/create">Add a spot!</a>


</section>