<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/forms.css" />

  </head>

  <body>
    <div class="navbar">
      <div class="navbar-wrapper">

        <div class="navbar-left">
          <img src="../images/logo-dozema.png" alt="" height="30px" />
          <a href="/" class="navbar-link">dozema</a>
          <a href="/spots" class="navbar-link">Spots</a>
          <a href="/spots/create" class="navbar-link">Add spot</a>
        </div>

        <div class="navbar-right">
          {{#if session.user}}
            <a href="/users/profile" class="btn-primary">Profile</a>
            <form action="/logout" method="POST">
            <button class="btn-secondary">Logout</button>  
          </form>
          {{else}}
            <a href="/signup" class="btn-secondary">Register</a>
            <a href="/login" class="btn-primary">Login</a>
          {{/if}}
        </div>
      </div>
    </div>

   

    <main class="main-content">
      {{{body}}}
    </main>

    <footer>
      <p>© 2022 by dozema ☕ </p>
    </footer>

  </body>
  
 <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBESkPQYieOnIYDgeryIpZALxce_BORe04"
    ></script>
    <script src="/js/script.js"></script>

</html>