<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <section class="nav-bar">
      <img src="" />

      <nav>
        <a href="/spots">Spots</a>
        |
        <a href="/spots/create">Add a new spot!</a>
        |
        <a href="/register">Register</a>
        |
        <a href="/login">Login</a>
        |
        <a href="/user-profile">User Profile</a>
        <br />
        {{#if userInSession}}
          <form id="logout-form" action="/logout" method="POST">
            <button>Logout</button>
          </form>
        {{else}}
          <p>Log in now!</p>
        {{/if}}
      </nav>
    </section>
    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>