<div class="not-found">
  <h1>
    Sorry, we spilled your coffee..
  </h1>
  <br />

  <img
    src="https://townsquare.media/site/158/files/2017/01/spilled-coffee.jpg"
  />

  <br />
  <a href="/spots">Spots</a>
</div>