/* Colors:
creme: #c7b198
darkcreme: #ab9781
lightgreen: #e9f9f9
darkgreen: #044343
purple: #634258
*/

@import url("https://fonts.googleapis.com/css?family=Work+Sans");

body {
  font-size: 13px;
  background-color: white;
  font-family: "Work Sans", Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(45, 45, 45);
  padding-top: 5%;
  padding-bottom: 5%;
  z-index: 3;
}

a {
  color: #634258;
}

h1 {
  font-size: 20px;
}

.map {
  height: 300px;
  width: 300px;
}

.img-spot {
  max-width: 100px;
}

/* layout.hbs */
.navibar {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #f1f0ed;
  z-index: 5;
}

.navbar-wrapper {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.navbar-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  float: left;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  float: right;
}

.navbar-link {
  vertical-align: middle;
  text-decoration: none;
  color: #ab9781;
  font-weight: 600;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 4px;
}

.navbar-link:hover {
  text-decoration: underline;
}

.button-primary {
  color: white;
  background-color: #c7b198;
  vertical-align: middle;
  text-decoration: none;
  font-weight: 600;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 4px;
}

.button-primary:hover {
  background-color: #ab9781;
}

form {
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

.button-secondary {
  color: #c7b198;
  border: 1px solid #c7b198;
  vertical-align: middle;
  text-decoration: none;
  font-weight: 600;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 4px;
}

.button-secondary:hover {
  color: #c7b198;
  background-color: white;
}

.footer {
  background-color: #044343;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding-left: 5%;
  z-index: 4;
}

/* 404 */
.not-found,
.error {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 40px;
}

.not-found img,
.error img {
  width: 500px;
}

.not-found a,
.error a {
  padding: 10px;
  width: 120px;
  text-align: center;
  border: #c9b39a solid 1px;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  background-color: #c7b198;
}

/* index.hbs */
.main-content {
  max-width: 80%;
  margin: 20px auto;
}

.header-content {
  height: 400px;
  background-image: url("/images/header-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  display: flex;
  align-items: center;
}

.header-content h1 {
  font-size: 4.5em;
  color: #ffffff;
}

.spots-listing {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.spots-listing h3 {
  text-align: center;
  font-size: 2.5em;
  padding-bottom: 30px;
}

.row {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  gap: 50px;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
  height: 350px;
}

.card-bod {
  padding: 1rem 1rem;
  height: 100%;
}

.img-spot-card {
  max-height: 12rem;
  min-height: 10rem;
  width: auto;
  display: inline;
}

.button-card {
  width: 100%;
  border: none;
  padding: 12px;
  text-transform: uppercase;
  background: none;
  color: #044343;
  border: #044343 1px solid;
  border-radius: 4px;
  outline: 0;
}

.button-card:hover {
  background-color: #044343;
  color: white;
}

.see-all-spots {
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}

.see-all-spots a {
  font-size: 2em;
  color: #044343;
}


.show-map {
  height: 400px;
  background-color: #f6f0e9;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5%;
}

.call-to-action {
  height: 250px;
  background-color: #c7b198;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.call-to-action h3 {
  text-align: center;
  font-size: 2em;
  padding-bottom: 20px;
  color: white;
}

.call-to-action-button {
  color: white;
  border: white 1px solid;
  vertical-align: middle;
  text-decoration: none;
  font-weight: 600;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 4px;
}
