<h2>Edit your profile</h2>

<form action="/users/{{user._id}}/edit" method="post">

  <label>
    Name:
    <input type="text" name="name" value="{{user.name}}" />
  </label>
  <label>
    E-Mail:
    <input type="text" name="email" value="{{user.email}}" />
  </label>

  <label>
    Password:
    <input type="text" name="password" />
  </label>

  <button type="submit"><a href="/users/profile">Save changes</a></button>
</form>