<h2>User profile</h2>

<section class="user-profile">
  <h2>Hello, {{user.name}}</h2>

  <button><a href="/users/{{user._id}}/edit">Edit profile</a></button>

  <form action="/users/{{user._id}}/delete" method="POST">
    <button>
      Delete profile
    </button>
  </form>

</section>