<h1>Spot-create</h1>

<form action="/spots/create" method="post" enctype="multipart/form-data">
  <label>
    Title:
    <input type="text" name="title" />
  </label>

  <label>
    Details:
    <input type="text" name="details" />
  </label>

  <label>
    Description:
    <textarea name="description" cols="30" rows="4"> </textarea>
  </label>
  <label>
  <label> Created By:
  <select name="author">
    <option value="{{session.user.name._id}}">{{session.user.name}}</option>
  </select>
  <label>
    Rating:
    <input type="number" name="rating" min="1" max="5" />
  </label>
  {{!-- <label>
    Address:
    <input type="text" name="latitude" placeholder="latitude" >
    <input type="text" name="longitude" placeholder="longitude">
  </label> --}}
  <label>
    Average price:
    <input type="number" name="averagePrice" />
  </label>
  <label>
    Opening Hours:
    <input type="text" name="openingHours" />
  </label>
  <label>
    Picture:
    <input type="file" name="spotPicture" />
  </label>

  {{!-- <div id="mapBlanco" class="map">Location</div> --}}

  <button type="submit"> Create </button>
</form>

