<h2>Hi,
  {{session.user.name}}! Do you know a cool working spot? Add it here!</h2>

<form
  action="/spots/create"
  method="post"
  enctype="multipart/form-data"
  class="form-card-create"
>
  <h3>Post a new spot</h3>

  <div class="form-content">
    <div class="input-field">
      <input type="text" name="title" placeholder="Name of spot" required />
    </div>
    <div class="input-field">
      <input type="text" name="openingHours" placeholder="Opening hours" />
    </div>

    <div class="select-field">
      <p>Price class</p>
      <select name="details" class="select-field-content">
        <option value="€">€</option>
        <option value="€€">€€</option>
        <option value="€€€">€€€</option>
      </select>
    </div>
    <div class="select-field">
      <p> Created by:</p>
      <select name="author" class="select-field-content">
        <option value="{{session.user.name._id}}">{{session.user.name}}</option>
      </select>
    </div>

    <div class="select-field">
     <p>Details</p>
    <div>
      <input type="checkbox" id="vegan" name="vegan" value="true">
      <label for="vegan">Vegan</label>
    </div>
    <div>
      <input type="checkbox" id="vegetarian" name="vegetarian" value="true">
      <label for="vegetarian">Vegetarian</label>
    </div>
    <div>
      <input type="checkbox" id="glutenFree" name="glutenFree" value="true">
      <label for="glutenFree">Gluten-free</label>
    </div>
    <div>
      <input type="checkbox" id="petFriendly" name="petFriendly" value="true">
      <label for="petFriendly">Pet-friendly</label>
    </div>
      <div>
      <input type="checkbox" id="wifi" name="wifi" value="true">
      <label for="wifi">WiFi</label>
    </div>
      <div>
      <input type="checkbox" id="powerStations" name="powerStations" value="true">
      <label for="powerStations">Power stations</label>
    </div>
      <div>
      <input type="checkbox" id="workDesks" name="workDesks" value="true">
      <label for="workDesks">Work desks</label>
    </div>
    <div>
      <input type="checkbox" id="quiet" name="quiet" value="true">
      <label for="quiet">Quiet</label>
    </div>
    <div>
      <input type="checkbox" id="crowded" name="crowded" value="true">
      <label for="crowded">Crowded</label>
    </div>
    <div>
      <input type="checkbox" id="happyHour" name="happyHour" value="true">
      <label for="happyHour">Happy hour</label>
    </div>
    <div>
      <input type="checkbox" id="liveMusic" name="liveMusic" value="true">
      <label for="liveMusic">Live music</label>
    </div>

    <div class="input-field">
      <p>Short description</p>
      <textarea
        type="text"
        name="description"
        cols="30"
        rows="4"
        placeholder="Nice and friendly place ..."
      ></textarea>
    </div>
    <div class="input-field">
      <p>Upload an image</p>
      <input type="file" name="spotPicture" placeholder="upload picture" />
    </div>

    <button type="submit" class="btn-green-main">Add new spot</button>

  </div>
</form>